{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database. --}}

<div class="container">
    <div class="row">
        <div class="column">
            <span>Burgers You Can Eat</span>
            <div class="burgers">
                {{#each burgers}}
                    {{#unless devoured}}
                        <div class="burger-btns">
                            <span class="burger-btns name" data-id="{{id}}">{{ burger_name }}</span>
                            <button class="eat-me-btn" data-id="{{id}}">Eat Me!</button>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>
            {{!-- <div class="burgers eat-me">
                {{#each burgers}}
                    {{#unless devoured}}
                        <button class="eat-me-btn">Eat Me!</button>
                    {{/unless}}
                {{/each}}
            </div> --}}
             <form class="form-inline">
                <input type="text" id="new-burger" placeholder="Add another burger">
                <button type="submit" id="add">Add</button>
            </form>
        </div>
        <div class="column">
            <span>Already Eaten</span>
            <div class="burgers">
                {{#each burgers}}
                    {{#if devoured }}
                        <button>{{ burger_name }}</button>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

