body {
    /* background: url("../img/arabi-ishaque-vAAJI5sg9j4-unsplash.jpg"); */
    background: url("../img/timothy-barlin-v_4RGBh3wus-unsplash.jpg");
    background-size: cover;
    background-position-y: 25%;
}

span {
    color: black;
    display: block;
    font-size: 22px;
}

.column {
    width: 50%;
    float: left;
}

#burger-container {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    justify-content: space-around;
    display: flex;
    height: 50%;
}

#form {
    width: 80%;
    margin: auto;
}

button {
    padding: 5px;
    margin: 3px;
    border: none;
    font-size: 15px;
    border-radius: 7px;
}

.burgers {
    min-height: 250px;
    margin: 20px 0 20px 0;
    /* float: left; */

    background: rgba(255, 255, 255, 0.8);
    width: 28%;
    padding: 2%;

    overflow: scroll;
}

.eat-me {
    margin-left: 20px;
}

.eat-me-btn {
    background-color: orange;
    border-radius: 5px;
}

.eat-me-btn:hover {
    background-color: yellow;
    box-shadow: 1px 1px;
    cursor: pointer;
}

.form-inline {
    clear: left;
    float: left;
}

input {
    padding: 5px;
    margin: 3px;
    vertical-align: middle;
    width: 200px;
    font-size: 14px;
    border-radius: 5px;
}

#add {
    display: inline;
    vertical-align: middle;
    padding: 7px;
}

#add:hover {
   box-shadow: 2px 2px;
   cursor: pointer; 
}

.burg {
    display: inline;
    justify-content: space-between;
}

.burger-btns {
    display: block;
}

.burger-btns.name {
    display: inline;
}

#eaten {
    text-align: right;
    margin-left: 35%;
}

.heading {
    margin-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
}

/* .eaten-burg {
    display: inline-block;
    float: right;
    clear: right;
} */